In [19]:
import pandas as pd
import numpy as np

# Definir las cabeceras
cabeceras = ['feelings', 'lifestyle', 'body', 'movement', 'nutrition', 
             'obesity', 'sleep', 'wellness', 'stress', 'depression', 
             'platform', 'indulgences', 'mindfulness', 'smoking','drive',"activity"]

# Configurar los parámetros de la distribución normal
media = 600  # media de la distribución normal
desviacion_estandar =300  # desviación estándar de la distribución normal

# Generar valores siguiendo una distribución normal
valores = np.random.normal(loc=media, scale=desviacion_estandar, size=(10000, len(cabeceras)))

# Limitar los valores al rango de 1 a 1000
valores = np.clip(valores, 1, 1000)

# Crear el DataFrame
df = pd.DataFrame(valores, columns=cabeceras)

# Redondear los valores al entero más cercano
df = df.round(0).astype(int)

# Mostrar el DataFrame
df.head(1000)

,feelings,lifestyle,body,movement,nutrition,obesity,sleep,wellness,stress,depression,platform,indulgences,mindfulness,smoking,drive,activity
0,877,542,318,1,922,332,654,74,936,336,829,414,1000,167,746,495
1,826,1000,531,861,691,319,705,332,599,788,728,634,745,1000,1000,101
2,1,545,678,817,127,662,710,746,1000,984,439,620,351,743,1000,1000
3,458,402,793,516,394,617,420,1,725,488,394,583,419,332,594,200
4,1000,968,64,716,883,221,1000,596,529,349,883,1000,906,850,466,709
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,975,800,540,396,779,1000,556,1000,354,514,172,787,1000,608,1000,207
996,1,1,734,176,430,479,667,635,364,877,642,117,369,436,505,1000
997,359,340,541,518,102,1000,398,803,136,648,548,1000,502,902,1000,639
998,619,720,703,224,301,98,576,390,823,896,705,415,239,461,383,525
999,366,294,41,233,379,474,327,588,50,698,362,511,220,803,438,919

In [22]:

# Calcula el promedio de cada fila
promedios_filas = df.mean(axis=1)

# Añade los promedios como una nueva columna en el DataFrame
df['score'] = promedios_filas

# Guarda el resultado en un nuevo archivo CSV (opcional)
df.to_csv('archivo_con_promedios.csv', index=False)

# Muestra los resultados

nombre_archivo = 'datos_salud.csv'
df.to_csv(nombre_archivo, index=False)
df.head(1000)

,feelings,lifestyle,body,movement,nutrition,obesity,sleep,wellness,stress,depression,platform,indulgences,mindfulness,smoking,drive,activity,score
0,877,542,318,1,922,332,654,74,936,336,829,414,1000,167,746,495,540.1875
1,826,1000,531,861,691,319,705,332,599,788,728,634,745,1000,1000,101,678.7500
2,1,545,678,817,127,662,710,746,1000,984,439,620,351,743,1000,1000,651.4375
3,458,402,793,516,394,617,420,1,725,488,394,583,419,332,594,200,458.5000
4,1000,968,64,716,883,221,1000,596,529,349,883,1000,906,850,466,709,696.2500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,975,800,540,396,779,1000,556,1000,354,514,172,787,1000,608,1000,207,668.0000
996,1,1,734,176,430,479,667,635,364,877,642,117,369,436,505,1000,464.5625
997,359,340,541,518,102,1000,398,803,136,648,548,1000,502,902,1000,639,589.7500
998,619,720,703,224,301,98,576,390,823,896,705,415,239,461,383,525,504.8750
999,366,294,41,233,379,474,327,588,50,698,362,511,220,803,438,919,418.9375